#toggle-login-signup-btn
{
  margin-top: 10px;
}

.login-signup-container
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.login-wall
{
    margin-top: 50%;
    padding: 0px 0px 20px 0px;
    background-color: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    background: rgba(0,0,0,.3);
    color: #fff;
}